linear_spectrograms/
spectrograms/
all.txt
/checkpoint/
/comvoi-subset.txt
/tmp.txt
/train.txt-bkup
/val.txt-bkup
/lin_spectrograms/
/mel_spectrograms/
/json-characters.json
/train.txt-tmp
/*tmp
/*bkup
voices*.*
/langs.txt
/voice-counts-by-language.txt
