linear_spectrograms/
spectrograms/
all.txt
/checkpoint/
/comvoi-subset.txt
/tmp.txt
/train.txt-bkup
/val.txt-bkup
/lin_spectrograms/
/mel_spectrograms/
/json-characters.json
/train.txt-tmp
/*tmp
/*bkup
/speaker-counts.txt
/voice-counts-by-language.txt
/voices.inc
/voices.txt
/voices-chr.inc
/voices-chr.txt
/voices-xchr.inc
/voices-xchr.txt
/langs.txt
