[submodule "data/cherokee-audio-data"]
	path = data/cherokee-audio-data
	url = ../cherokee-audio-data.git
[submodule "data/other-audio-data"]
	path = data/other-audio-data
	url = ../other-audio-data.git
[submodule "data/cherokee-audio-data-private"]
	path = data/cherokee-audio-data-private
	url = ../cherokee-audio-data-private.git
[submodule "data/cherokee-audio-data-synthetic"]
	path = data/cherokee-audio-data-synthetic
	url = ../cherokee-audio-data-synthetic.git
