/*.tmp
/fr/
/nl/
/ma-split/
/ma-tracks/
/ma-tracks.mp3/
/wav/
/all.txt
/cherokee.txt
/Compose.txt
/nl-espk.txt
/fr-espk.txt
/ma-split.txt
/de/
/ru/
/zh/
/ma-split.zip
/*.zip
/cv-corpus-*/
mogrified-common-voice-clean.txt
ma-tracks.txt
/syn-chr.txt
/tmp.txt
